
# PostgreSQL
POSTGRES_PASSWORD=
POSTGRES_USER=max
CONN_MAX_AGE=

# Domain name, used by caddy
DOMAIN_NAME=desk.thekey.pw

# General settings
# DJANGO_READ_DOT_ENV_FILE=True
DJANGO_ADMIN_URL=
DJANGO_SETTINGS_MODULE=config.settings.local
DJANGO_SECRET_KEY=8GxL*UJXN:O0)dy|x8:<;*8rjbC.)*`HAhPAu:^:L/e/mPbh[e
DJANGO_ALLOWED_HOSTS=.desk.thekey.pw

# AWS Settings
DJANGO_AWS_ACCESS_KEY_ID=
DJANGO_AWS_SECRET_ACCESS_KEY=
DJANGO_AWS_STORAGE_BUCKET_NAME=

# Used with email
DJANGO_MAILGUN_API_KEY=
DJANGO_SERVER_EMAIL=
MAILGUN_SENDER_DOMAIN=

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False

# django-allauth
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True
# Sentry
DJANGO_SENTRY_DSN=


COMPRESS_ENABLED=

